html,body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }


body {
  background-image: url(background/space.jpg);
background-size: cover;
background-repeat: no-repeat;
}
   header {
    background-image: url(background/navstars.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 30px;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin-right: 10px;
  }
  nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 24px;
  padding: 10px;
  border-radius: 4px;
  transition: background-color 0.3s;
}

nav ul li a:hover {
  background-color: #555;
}
  
  main {
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
  }
  
  h1 {
    color: white;
  }
  h2 {
    color: white;
  }
  h3 {
    color: white;
  }
  
  p {
    color: white;
  }

  footer {
    /* background-color: #333; */
    background-image: url(background/navstars.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    padding: 10px;
    text-align: center;
    margin-top: auto;
  }
  
  footer a {
    color:#fff;
    text-decoration: none;
  }

  footer a:hover {
    text-decoration: underline;
  }
  .section {
    display: flex;
    align-items: center;
  }
  

  .earth-container {
    flex-shrink: 0; 
  }
  
  .earth-image {
    width: 150px; 
    margin-right: 20px; 
  }
  
  .content {
    flex-grow: 1; 
  }
  /* .floating-image {
    float: right;
    margin: 10px;
  }
   */
  
   @media (max-width: 768px) {

     header {
      padding: 10px;
    }

    nav ul {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
  
    nav ul li {
      margin: 0 5px;
    }
  }