html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body {
  
    background-image: url(../background/drinkinggame.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    
  }
  #flashcard-container {
    flex: 1; /* Allow the flashcard container to take up remaining space */
  }
  
  
  header {
    background-color: #333;
    padding: 20px;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin-right: 10px;
  }
  

  nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    padding: 10px;
    border-radius: 4px;
    transition: background-color 0.3s;
  }
  
  nav ul li a:hover {
    background-color: #555;
  }
  
  h1 {
    color: white;
    text-align: center;
    margin-top: 30px;
  }
  h2 {
    color: white;
    text-align: center;
  }
  h3 {
    color: white;
    text-align: center;
  }
  
  p {
    color: white;
  }
  #card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
  }

  
  .card {
    background-color: black;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    width: 400px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
  }
  
  .card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .card-title {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .card-description {
    font-size: 18px;
  }
  
  .next-button-container {
  position: absolute;
  bottom: 60px;
  left: 50%;
  transform: translateX(-50%);
    
  } 
 
  
  #next-button {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  #next-button:hover {
    background-color: #555;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    margin-top: auto;
  }
  
  footer a {
    color:#fff;
    text-decoration: none;
  }

  footer a:hover {
    text-decoration: underline;
  }

  @media (max-width: 768px) {
    header {
      padding: 10px;
    }
  
    nav ul {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
  
    nav ul li {
      margin: 0 5px;
    }
  }
  
  
    