html,body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
}

body {
background-image: url(../background/jokes.jpg);
background-size: cover;
background-repeat: no-repeat;
}

header {
/* background-color: #333; */
background-image: url(../background/navstars.jpg);
background-repeat: no-repeat;
background-size: cover;
padding: 30px;
}

nav ul {
list-style-type: none;
margin: 0;
padding: 0;
}

nav ul li {
display: inline;
margin-right: 10px;
}
nav ul li a {
color: #fff;
text-decoration: none;
font-size: 24px;
padding: 10px;
border-radius: 4px;
transition: background-color 0.3s;
}

nav ul li a:hover {
background-color: #555;
}

footer {
/* background-color: #333; */
background-image: url(../background/navstars.jpg);
background-repeat: no-repeat;
background-size: cover;
color: #fff;
padding: 10px;
text-align: center;
margin-top: auto;
}

footer a {
color:#fff;
text-decoration: none;
}

footer a:hover {
text-decoration: underline;
}

h1 {
    color: white;
}

/* Shared styles for joke card and fun fact card */
.card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    height: auto;
  }
  
  .joke-card {
    /* background-color:black; */
    background-image: url(../background/jokeufo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 90%;
    max-width: 400px;
    margin: 10px auto;
    text-align: center;
    transition: opacity 0.3s ease-in-out;
    height: 250px;
    font-size: 24px;
    color: white;
  }
  .fun-fact-card {
    /* background-color: black; */
    background-image: url(../background/jokeufo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 90%;
    max-width: 400px;
    margin: 10px auto;
    text-align: center;
    transition: opacity 0.3s ease-in-out;
    height: 250px;
    font-size: 24px;
    color: white;
  }
  
  .card.visible {
    opacity: 1;
  }
  
  .card-text {
    font-size: 24px;
    margin-bottom: 20px;
  }
  #new-joke-button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    color: blue;
  }
  #new-fun-fact-button {
    /* margin-top: 20px; */
    margin: 50px;
    padding: 10px 20px;
    font-size: 16px;
    color: blue;
  }
  
  .joke-text {
    font-size: 24px; /* Set initial font size */
  }
  
  .fun-fact-text {
    font-size: 24px; /* Set initial font size */
  }

  @media screen and (max-width: 768px) {
    .joke-text {
      font-size: 20px; /* Adjust font size for smaller screens */
    }
    
    .fun-fact-text {
      font-size: 20px; /* Adjust font size for smaller screens */
    }
  }

  @media screen and (max-width: 768px) {
    /* Adjust font size and line height for smaller screens */
    body {
      font-size: 14px;
      line-height: 1.4;
    }
  }

  @media (max-width: 768px) {
    /* Adjust the styles as needed to fit smaller screens */
    header {
      padding: 10px;
    }

    nav ul {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
  
    nav ul li {
      margin: 0 5px;
    }
  
    /* nav ul li {
      display: block;
      margin: 5px 0;
    } */
  }